In [1]:
import pandas as pd

In [2]:
meta_expt = pd.read_csv('METABRIC_Gene_Expression_data_NOI.txt', sep='\t')

In [3]:
meta_expt.head(2)

,Hugo_Symbol,MB-0362,MB-0346,MB-0386,MB-0574,MB-0503,MB-0641,MB-0201,MB-0218,MB-0316,...,MB-6122,MB-6192,MB-4820,MB-5527,MB-5167,MB-5465,MB-5453,MB-5471,MB-5127,MB-4313
0,RERE,8.676978,9.653589,9.033589,8.814855,9.274265,9.286585,8.437347,8.569973,8.892102,...,8.756024,8.804947,9.991215,9.595923,9.637249,8.131637,9.606915,9.049296,8.858622,8.415867
1,RNF165,6.075331,6.687887,5.910885,5.628740,5.908698,6.206729,6.095592,6.383530,5.773691,...,7.101087,5.601472,7.103160,6.418987,6.203370,9.101942,7.427494,6.850000,6.550450,6.831722

In [4]:
#remove genes with missing data

In [5]:
#meta_expt.to_csv('../data/METABRIC/METABRIC_Gene_Expression.txt',sep='\t')

In [6]:
# generate patients indexs

In [7]:
meta_index_expres = meta_expt.columns
meta_index_expres = meta_index_expres[1:]
meta_index_expres

Index(['MB-0362', 'MB-0346', 'MB-0386', 'MB-0574', 'MB-0503', 'MB-0641',
       'MB-0201', 'MB-0218', 'MB-0316', 'MB-0189',
       ...
       'MB-6122', 'MB-6192', 'MB-4820', 'MB-5527', 'MB-5167', 'MB-5465',
       'MB-5453', 'MB-5471', 'MB-5127', 'MB-4313'],
      dtype='object', length=1904)

In [8]:
# load Surv and trans

In [9]:
surv = pd.read_csv('../data/METABRIC/data_clinical_patient.txt', sep='\t', skiprows=4)
surv.shape

(2509, 20)

In [10]:
surv.head(3)

,PATIENT_ID,OS_MONTHS,OS_STATUS,VITAL_STATUS,INTCLUST,COHORT,AGE_AT_DIAGNOSIS,LATERALITY,NPI,ER_IHC,INFERRED_MENOPAUSAL_STATE,BREAST_SURGERY,CELLULARITY,HER2_SNP6,THREEGENE,CLAUDIN_SUBTYPE,CHEMOTHERAPY,HORMONE_THERAPY,RADIO_THERAPY,HISTOLOGICAL_SUBTYPE
0,MB-0000,140.500000,LIVING,Living,4ER+,1.0,75.65,r,6.044,pos,post,MASTECTOMY,NaN,NEUT,ER-/HER2-,claudin-low,NO,YES,YES,IDC
1,MB-0002,84.633333,LIVING,Living,4ER+,1.0,43.19,r,4.020,pos,pre,BREAST CONSERVING,high,NEUT,ER+/HER2- High Prolif,LumA,NO,YES,YES,IDC
2,MB-0005,163.100000,DECEASED,Died of Disease,3,1.0,48.87,r,4.030,pos,pre,MASTECTOMY,high,NEUT,NaN,LumB,YES,YES,NO,IDC

In [11]:
surv.set_index('PATIENT_ID', inplace=True)

In [12]:
surv.head()

,OS_MONTHS,OS_STATUS,VITAL_STATUS,INTCLUST,COHORT,AGE_AT_DIAGNOSIS,LATERALITY,NPI,ER_IHC,INFERRED_MENOPAUSAL_STATE,BREAST_SURGERY,CELLULARITY,HER2_SNP6,THREEGENE,CLAUDIN_SUBTYPE,CHEMOTHERAPY,HORMONE_THERAPY,RADIO_THERAPY,HISTOLOGICAL_SUBTYPE
PATIENT_ID,,,,,,,,,,,,,,,,,,,
MB-0000,140.500000,LIVING,Living,4ER+,1.0,75.65,r,6.044,pos,post,MASTECTOMY,NaN,NEUT,ER-/HER2-,claudin-low,NO,YES,YES,IDC
MB-0002,84.633333,LIVING,Living,4ER+,1.0,43.19,r,4.020,pos,pre,BREAST CONSERVING,high,NEUT,ER+/HER2- High Prolif,LumA,NO,YES,YES,IDC
MB-0005,163.100000,DECEASED,Died of Disease,3,1.0,48.87,r,4.030,pos,pre,MASTECTOMY,high,NEUT,NaN,LumB,YES,YES,NO,IDC
MB-0006,164.933333,LIVING,Living,9,1.0,47.68,r,4.050,pos,pre,MASTECTOMY,moderate,NEUT,NaN,LumB,YES,YES,YES,IDC
MB-0008,41.366667,DECEASED,Died of Disease,9,1.0,76.97,r,6.080,pos,post,MASTECTOMY,high,NEUT,ER+/HER2- High Prolif,LumB,YES,YES,YES,IDC

In [13]:
surv = surv.dropna(subset=['OS_STATUS'])
surv.shape

(1980, 19)

In [14]:
surv['death'] = surv['OS_STATUS']
surv['death'].replace('DECEASED',1, inplace=True)
surv['death'].replace('LIVING',0, inplace=True)
surv['Survival'] = surv['OS_MONTHS'] * 30
surv['death'] = surv['death'].astype(int)

In [15]:
# load CNV

In [16]:
# icnv.to_csv('METABRIC_CNV_implaced_transformed.txt',index=False,sep='\t')
cnv = pd.read_csv('METABRIC_CNV_NOI_transformed.txt',sep='\t')
cnv.shape

(22544, 2174)

In [17]:
cnv.head(2)

,Hugo_Symbol,MB-0000,MB-0039,MB-0045,MB-0046,MB-0048,MB-0050,MB-0053,MB-0062,MB-0064,...,MB-5467,MB-5546,MB-5585,MB-5625,MB-5648,MB-6020,MB-6213,MB-6230,MB-7148,MB-7188
0,A1BG,0.5,0.5,0.25,0.5,0.5,0.5,0.5,0.25,0.5,...,0.5,0.5,0.5,0.5,0.5,0.75,0.5,0.5,0.5,0.5
1,A1BG-AS1,0.5,0.5,0.25,0.5,0.5,0.5,0.5,0.25,0.5,...,0.5,0.5,0.5,0.5,0.5,0.75,0.5,0.5,0.5,0.5

In [18]:
meta_index_cnv = cnv.columns
meta_index_cnv = meta_index_cnv[1:]
meta_index_cnv

Index(['MB-0000', 'MB-0039', 'MB-0045', 'MB-0046', 'MB-0048', 'MB-0050',
       'MB-0053', 'MB-0062', 'MB-0064', 'MB-0066',
       ...
       'MB-5467', 'MB-5546', 'MB-5585', 'MB-5625', 'MB-5648', 'MB-6020',
       'MB-6213', 'MB-6230', 'MB-7148', 'MB-7188'],
      dtype='object', length=2173)

In [19]:
def intersect(*d):
    sets = iter(map(set, d))
    result = sets.next()
    for s in sets:
        result = result.intersection(s)
    return result

In [20]:
d = [meta_index_cnv, meta_index_expres, surv.index]

In [21]:
inte = set(d[0]).intersection(*d)
len(inte)

1904

In [22]:
import numpy as np

In [23]:
inte = list(inte)

In [24]:
# reorginza all data sam eindex

tops = ['Hugo_Symbol']
tops.extend( inte)
meta_expre_reorga0 = meta_expt[tops]

In [25]:
surv_reorganized0 = surv.ix[inte]

/home/ccorbi/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if __name__ == '__main__':

In [26]:

tops = ['Hugo_Symbol']
tops.extend( inte)
meta_cnv_reorga0 = cnv[tops]

In [27]:
meta_cnv_reorga0.head(3)

,Hugo_Symbol,MB-0874,MB-5427,MB-0654,MB-5647,MB-4607,MB-0589,MB-0243,MB-0637,MB-4091,...,MB-0349,MB-5558,MB-0519,MB-5093,MB-5418,MB-0590,MB-4622,MB-0575,MB-0354,MB-5366
0,A1BG,0.25,0.50,0.5,0.5,0.5,0.5,0.5,1.00,0.5,...,0.5,0.50,0.5,0.5,0.5,0.5,0.25,0.5,0.25,0.50
1,A1BG-AS1,0.25,0.50,0.5,0.5,0.5,0.5,0.5,1.00,0.5,...,0.5,0.50,0.5,0.5,0.5,0.5,0.25,0.5,0.25,0.50
2,A1CF,0.50,0.25,0.5,0.5,0.5,0.5,0.5,0.25,0.5,...,0.5,0.25,0.5,0.5,0.5,0.5,1.00,0.5,0.25,0.75

In [28]:
!mkdir DataF_METABRIC_CNV_NOI

In [29]:
folder = 'DataF_METABRIC_CNV_NOI'
meta_cnv_reorga0.to_csv('{}/METABRIC_CNV_data.txt'.format(folder),index=False,sep='\t')
#meta_cnv_reorga1.to_csv('{}/METABRIC1_CNV_data.txt'.format(folder),index=False,sep='\t')

meta_expre_reorga0.to_csv('{}/METABRIC_Gene_Expression.txt'.format(folder),index=False,sep='\t')
#meta_expre_reorga1.to_csv('{}/METABRIC1_Gene_Expression.txt'.format(folder),index=False,sep='\t')

In [30]:
surv_reorganized_simple0 = surv_reorganized0[['Survival','death' ]]
surv_reorganized_simple0.shape

(1904, 2)

In [31]:
surv_reorganized_simple0.to_csv('{}/METABRIC_Survival.txt'.format(folder),sep='\t')

In [32]:
!pwd

OSError: [Errno 12] Cannot allocate memory