In [1]:
import pandas as pd

In [2]:
cnv = pd.read_csv('../data/METABRIC/data_CNA.txt',sep='\t')
cnv.shape

(22544, 2175)

In [3]:
cnv.head(2)

,Hugo_Symbol,Entrez_Gene_Id,MB-0000,MB-0039,MB-0045,MB-0046,MB-0048,MB-0050,MB-0053,MB-0062,...,MB-5467,MB-5546,MB-5585,MB-5625,MB-5648,MB-6020,MB-6213,MB-6230,MB-7148,MB-7188
0,A1BG,1.0,0,0,-1,0,0,0,0,-1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,A1BG-AS1,503538.0,0,0,-1,0,0,0,0,-1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [4]:
# clean missing more 20
max(cnv.isnull().sum(axis=0).tolist())

3426

In [5]:
max(cnv.isnull().sum(axis=1).tolist())

41

In [6]:
meta_index_cnv = cnv.columns
meta_index_cnv= meta_index_cnv[2:]
tops = ['Hugo_Symbol']
tops.extend( list(meta_index_cnv))
cnv = cnv[tops]

In [7]:
cnv.shape

(22544, 2174)

In [8]:
(cnv.shape[0] /100)* 20

4508.8

In [9]:
for c in cnv.columns:
    missing = cnv[c].isnull().sum()
    if missing >= 4509:
        del cnv[c]
        print(c)

In [10]:
cnv.shape

(22544, 2174)

In [11]:
(2174 / 100 )*20

434.79999999999995

In [12]:
#Find is a feature is missing more than 20%
missing = cnv.isnull().sum(axis=1).tolist()

todel = list()
for idx, m in enumerate(missing):
    if m >= 435:
        todel.append(idx)
todel

[]

In [14]:
icnv = cnv.copy()
#for c in icnv.columns:
#    missing = icnv[c].isnull().sum()
#    if missing > 0:
#        imputed = imputer.knn(icnv, c, k=20 )
#        icnv[c] = imputed[c]
        
#a = imputer.knn(icnv, "MB-5104",k=20)

In [15]:
icnv.fillna(0.0, inplace=True)

In [17]:
max(icnv.isnull().sum())

0

In [18]:
icnv.to_csv('METABRIC_CNV_NOI.txt',index=False,sep='\t')

In [19]:
def transformation(row):

        if row == -2:
            return 0
        if row == -1:
            return .25
        if row == 0:
            return .5
        if row == 1:
            return .75
        if row == 2:
            return 1
        else:
            print(row)

In [20]:
for c in icnv.columns:
    if c == 'Hugo_Symbol':
        pass
    else:
        icnv[c] = icnv[c].apply(transformation)

In [21]:
icnv.to_csv('METABRIC_CNV_NOI_transformed.txt',index=False,sep='\t')