In [1]:
import pandas as pd

In [5]:
ref = pd.read_csv('../data/LUNG/LUNG_Gene_Expression.txt', sep='\t')
ref.head(2)

,,TCGA-18-3406-01A-01R-1031-01,TCGA-18-3407-01A-01R-1031-01,TCGA-18-3408-01A-01R-1031-01,TCGA-18-3410-01A-01R-1031-01,TCGA-18-3411-01A-01R-1031-01,TCGA-18-3412-01A-01R-1031-01,TCGA-18-3414-01A-01R-1031-01,TCGA-18-3415-01A-01R-1031-01,TCGA-18-3416-01A-01R-1031-01,...,TCGA-66-2787-01A-01R-1031-01,TCGA-66-2788-01A-01R-1031-01,TCGA-66-2789-01A-01R-1031-01,TCGA-66-2790-01A-01R-1031-01,TCGA-66-2791-01A-01R-1031-01,TCGA-66-2792-01A-01R-1031-01,TCGA-66-2793-01A-01R-1199-01,TCGA-66-2794-01A-01R-1199-01,TCGA-66-2795-01A-02R-1031-01,TCGA-66-2800-01A-01R-1199-01
NTS,-0.806226,-0.382872,0.401741,-1.411283,0.753000,0.736499,0.884528,-0.658622,-1.364281,-0.026033,...,1.034772,-0.702329,-1.199132,0.508934,0.970896,1.229138,0.112034,1.176520,0.344574,NaN
KRT14,1.479097,1.444322,-0.860771,-1.215284,0.393626,0.563601,0.050821,0.637788,-1.426153,-0.384999,...,1.419102,0.598151,-0.381585,0.993165,0.716151,-1.267115,-1.044408,0.583019,-0.377197,NaN

In [9]:
ref2 = pd.read_csv('../data/LUNG/LUNG_Mirna_Expression.txt', sep='\t')
ref2.head(2)

,,TCGA-18-3406-01A-01T-0981-13,TCGA-18-3407-01A-01T-0981-13,TCGA-18-3408-01A-01T-0981-13,TCGA-18-3410-01A-01T-0981-13,TCGA-18-3411-01A-01T-0981-13,TCGA-18-3412-01A-01T-0981-13,TCGA-18-3414-01A-01T-0981-13,TCGA-18-3415-01A-01T-0981-13,TCGA-18-3416-01A-01T-0981-13,...,TCGA-66-2787-01A-01T-0981-13,TCGA-66-2788-01A-01T-0981-13,TCGA-66-2789-01A-01T-0981-13,TCGA-66-2790-01A-01T-0981-13,TCGA-66-2791-01A-01T-0981-13,TCGA-66-2792-01A-01T-0981-13,TCGA-66-2793-01A-01T-1517-13,TCGA-66-2794-01A-01T-1517-13,TCGA-66-2795-01A-02T-0981-13,TCGA-66-2800-01A-01T-1517-13
hsa-let-7a-1,2.766139,0.510633,2.060634,0.424424,0.292791,0.448047,3.124130,1.014758,-0.126167,-1.189114,...,0.183223,0.053349,0.328862,0.430933,0.040348,-0.687801,0.196365,0.520870,1.551996,NaN
hsa-let-7a-2,2.718831,0.514435,2.071900,0.402256,0.277827,0.565700,3.094992,0.994815,-0.135827,-1.183850,...,0.118006,0.073525,0.244412,0.345755,0.031369,-0.753868,0.233260,0.480447,1.637500,NaN

In [11]:
ref3 = pd.read_csv('../data/LUNG/LUNG_Survival.txt', sep='\t')
ref3.head(2)

                      PatientID  Survival  Death
0  TCGA-18-3406-01A-01T-0981-13       371      0
1  TCGA-18-3407-01A-01T-0981-13       227      0

In [30]:
ref3['Death'].value_counts()

1    66
0    40
Name: Death, dtype: int64

In [6]:
meta_expt = pd.read_csv('../data/METABRIC/data_expression.txt', sep='\t')

In [7]:
meta_expt.head(2)

,Hugo_Symbol,Entrez_Gene_Id,MB-0362,MB-0346,MB-0386,MB-0574,MB-0503,MB-0641,MB-0201,MB-0218,...,MB-6122,MB-6192,MB-4820,MB-5527,MB-5167,MB-5465,MB-5453,MB-5471,MB-5127,MB-4313
0,RERE,473.0,8.676978,9.653589,9.033589,8.814855,9.274265,9.286585,8.437347,8.569973,...,8.756024,8.804947,9.991215,9.595923,9.637249,8.131637,9.606915,9.049296,8.858622,8.415867
1,RNF165,494470.0,6.075331,6.687887,5.910885,5.628740,5.908698,6.206729,6.095592,6.383530,...,7.101087,5.601472,7.103160,6.418987,6.203370,9.101942,7.427494,6.850000,6.550450,6.831722

In [8]:
del meta_expt['Entrez_Gene_Id']

In [10]:
#meta_expt.to_csv('../data/METABRIC/METABRIC_Gene_Expression.txt',sep='\t')

In [14]:
meta_mirna = pd.read_csv('../data/METABRIC/_ega-box-04_Agilent_ncRNA_60k_normalised_miRNA_expression.csv', sep='\t')

In [15]:
meta_mirna.head(3)

,ProbeID,miRNA,MB-2718,MB-2616,MB-2634,MB-2643,MB-2613,MB-2629,MB-2645,MB-2626,...,MB-0619,MB-0171,MB-0310,MB-0489,MB-0621,MB-0614,MB-0372,MB-0335,MB-0407,MB-0374
0,A_25_P00013119,hsa-let-7b*,6.292,6.445,6.406,6.333,6.281,6.410,6.386,6.319,...,6.209,6.526,6.344,6.587,6.304,6.324,6.325,6.322,6.301,6.411
1,A_25_P00011980,hsa-let-7d,11.813,10.380,10.028,10.624,9.235,9.818,10.675,10.522,...,10.301,9.944,9.006,9.373,10.316,9.773,9.808,8.085,10.171,10.558
2,A_25_P00013127,hsa-let-7d*,6.315,6.334,6.253,6.305,6.299,6.299,6.247,6.305,...,6.368,6.291,6.249,6.297,6.310,6.303,6.291,6.229,6.297,6.404

In [16]:
meta_index = meta_mirna.columns

In [17]:
meta_index.shape

(1448,)

In [18]:
meta_index2 = meta_expt.columns

In [19]:
meta_index2.shape

(1905,)

In [25]:
meta_index = meta_index[2:]

In [24]:
meta_index[2:]

Index(['MB-2718', 'MB-2616', 'MB-2634', 'MB-2643', 'MB-2613', 'MB-2629',
       'MB-2645', 'MB-2626', 'MB-2842', 'MB-2772',
       ...
       'MB-0619', 'MB-0171', 'MB-0310', 'MB-0489', 'MB-0621', 'MB-0614',
       'MB-0372', 'MB-0335', 'MB-0407', 'MB-0374'],
      dtype='object', length=1446)

In [28]:
surv = pd.read_csv('../data/METABRIC/data_clinical_patient.txt', sep='\t', skiprows=4)
surv.shape

(2509, 20)

In [29]:
surv.head(3)

,PATIENT_ID,OS_MONTHS,OS_STATUS,VITAL_STATUS,INTCLUST,COHORT,AGE_AT_DIAGNOSIS,LATERALITY,NPI,ER_IHC,INFERRED_MENOPAUSAL_STATE,BREAST_SURGERY,CELLULARITY,HER2_SNP6,THREEGENE,CLAUDIN_SUBTYPE,CHEMOTHERAPY,HORMONE_THERAPY,RADIO_THERAPY,HISTOLOGICAL_SUBTYPE
0,MB-0000,140.500000,LIVING,Living,4ER+,1.0,75.65,r,6.044,pos,post,MASTECTOMY,NaN,NEUT,ER-/HER2-,claudin-low,NO,YES,YES,IDC
1,MB-0002,84.633333,LIVING,Living,4ER+,1.0,43.19,r,4.020,pos,pre,BREAST CONSERVING,high,NEUT,ER+/HER2- High Prolif,LumA,NO,YES,YES,IDC
2,MB-0005,163.100000,DECEASED,Died of Disease,3,1.0,48.87,r,4.030,pos,pre,MASTECTOMY,high,NEUT,NaN,LumB,YES,YES,NO,IDC

In [32]:
surv['OS_STATUS'].value_counts()

DECEASED    1143
LIVING       837
Name: OS_STATUS, dtype: int64

In [33]:
surv['death'] = surv['OS_STATUS']
surv['death'].replace('DECEASED',1, inplace=True)
surv['death'].replace('LIVING',0, inplace=True)

In [34]:
surv['Survival'] = surv['OS_MONTHS'] * 30

In [38]:
surv.dropna(subset=['Survival'], inplace=True)

In [39]:
surv['Survival'] = surv['Survival'].astype(int)

In [40]:
surv['Survival'].shape

(1980,)

In [41]:
surv['Survival'].ix[[3,4,1]]

/home/ccorbi/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if __name__ == '__main__':

3    4947
4    1241
1    2538
Name: Survival, dtype: int64

In [42]:
surv.set_index('PATIENT_ID', inplace=True)

In [45]:
surv.head()

,OS_MONTHS,OS_STATUS,VITAL_STATUS,INTCLUST,COHORT,AGE_AT_DIAGNOSIS,LATERALITY,NPI,ER_IHC,INFERRED_MENOPAUSAL_STATE,...,CELLULARITY,HER2_SNP6,THREEGENE,CLAUDIN_SUBTYPE,CHEMOTHERAPY,HORMONE_THERAPY,RADIO_THERAPY,HISTOLOGICAL_SUBTYPE,death,Survival
PATIENT_ID,,,,,,,,,,,,,,,,,,,,,
MB-0000,140.500000,LIVING,Living,4ER+,1.0,75.65,r,6.044,pos,post,...,NaN,NEUT,ER-/HER2-,claudin-low,NO,YES,YES,IDC,0.0,4215
MB-0002,84.633333,LIVING,Living,4ER+,1.0,43.19,r,4.020,pos,pre,...,high,NEUT,ER+/HER2- High Prolif,LumA,NO,YES,YES,IDC,0.0,2538
MB-0005,163.100000,DECEASED,Died of Disease,3,1.0,48.87,r,4.030,pos,pre,...,high,NEUT,NaN,LumB,YES,YES,NO,IDC,1.0,4893
MB-0006,164.933333,LIVING,Living,9,1.0,47.68,r,4.050,pos,pre,...,moderate,NEUT,NaN,LumB,YES,YES,YES,IDC,0.0,4947
MB-0008,41.366667,DECEASED,Died of Disease,9,1.0,76.97,r,6.080,pos,post,...,high,NEUT,ER+/HER2- High Prolif,LumB,YES,YES,YES,IDC,1.0,1241

In [48]:
surv.ix[meta_index].head()

,OS_MONTHS,OS_STATUS,VITAL_STATUS,INTCLUST,COHORT,AGE_AT_DIAGNOSIS,LATERALITY,NPI,ER_IHC,INFERRED_MENOPAUSAL_STATE,...,CELLULARITY,HER2_SNP6,THREEGENE,CLAUDIN_SUBTYPE,CHEMOTHERAPY,HORMONE_THERAPY,RADIO_THERAPY,HISTOLOGICAL_SUBTYPE,death,Survival
MB-2718,278.266667,LIVING,Living,10,2.0,47.94,l,4.040,neg,pre,...,high,NEUT,NaN,Basal,YES,NO,NO,IDC-TUB,0.0,8348.0
MB-2616,219.166667,DECEASED,Died of Disease,4ER+,2.0,65.07,l,3.036,pos,post,...,moderate,NEUT,ER+/HER2- Low Prolif,claudin-low,NO,NO,YES,IDC+ILC,1.0,6575.0
MB-2634,274.033333,LIVING,Living,2,2.0,70.69,l,4.020,pos,post,...,high,GAIN,ER+/HER2- High Prolif,LumB,NO,YES,YES,IDC,0.0,8220.0
MB-2643,52.966667,DECEASED,Died of Disease,4ER-,2.0,34.20,r,3.006,NaN,pre,...,low,NEUT,NaN,claudin-low,NO,NO,YES,IDC,1.0,1589.0
MB-2613,163.400000,LIVING,Living,1,2.0,59.63,l,4.040,pos,post,...,high,NEUT,ER+/HER2- High Prolif,LumB,NO,YES,NO,IDC,0.0,4902.0

In [54]:
surv_reorganized = surv.ix[meta_index]

In [55]:
# survival
surv_reorganized.shape

(1446, 21)

In [63]:
tops = ['miRNA']
tops.extend( meta_index.tolist())
mirna_reorganized = meta_mirna[tops]

In [64]:
mirna_reorganized.shape

(853, 1447)

In [72]:
meta_index

Index(['MB-2718', 'MB-2616', 'MB-2634', 'MB-2643', 'MB-2613', 'MB-2629',
       'MB-2645', 'MB-2626', 'MB-2842', 'MB-2772',
       ...
       'MB-0619', 'MB-0171', 'MB-0310', 'MB-0489', 'MB-0621', 'MB-0614',
       'MB-0372', 'MB-0335', 'MB-0407', 'MB-0374'],
      dtype='object', length=1446)

In [68]:
meta_expt.columns

Index(['Hugo_Symbol', 'MB-0362', 'MB-0346', 'MB-0386', 'MB-0574', 'MB-0503',
       'MB-0641', 'MB-0201', 'MB-0218', 'MB-0316',
       ...
       'MB-6122', 'MB-6192', 'MB-4820', 'MB-5527', 'MB-5167', 'MB-5465',
       'MB-5453', 'MB-5471', 'MB-5127', 'MB-4313'],
      dtype='object', length=1905)

In [70]:
set(meta_index.tolist()).difference(meta_expt.columns.tolist())

{'BT20',
 'BT474',
 'BT549',
 'GI101-a',
 'HCC1187-a',
 'HCC1509',
 'Hs578T',
 'Kpl1',
 'MB-0020',
 'MB-0059',
 'MB-0099',
 'MB-0110',
 'MB-0153',
 'MB-0156',
 'MB-0158',
 'MB-0159',
 'MB-0160',
 'MB-0169',
 'MB-0182',
 'MB-0185',
 'MB-0196',
 'MB-0210',
 'MB-0217',
 'MB-0281',
 'MB-0283',
 'MB-0299',
 'MB-0326',
 'MB-0327',
 'MB-0329',
 'MB-0330',
 'MB-0333',
 'MB-0335',
 'MB-0337',
 'MB-0347',
 'MB-0351',
 'MB-0355',
 'MB-0390',
 'MB-0403',
 'MB-0405',
 'MB-0407',
 'MB-0408',
 'MB-0409',
 'MB-0423',
 'MB-0432',
 'MB-0433',
 'MB-0435',
 'MB-0448',
 'MB-0473',
 'MB-0499',
 'MB-0539',
 'MB-0543',
 'MB-0546',
 'MB-0547',
 'MB-0549',
 'MB-0625',
 'MB-0635',
 'MB-0667',
 'MB-0669',
 'MB-0680',
 'MB-0704',
 'MB-0706',
 'MB-0708',
 'MB-0709',
 'MB-0710',
 'MB-0712',
 'MB-0717',
 'MB-0718',
 'MB-0719',
 'MB-0720',
 'MB-0724',
 'MB-0728',
 'MB-0730',
 'MB-0735',
 'MB-0736',
 'MB-0741',
 'MB-0748',
 'MB-0751',
 'MB-0752',
 'MB-0758',
 'MB-0759',
 'MB-0762',
 'MB-0771',
 'MB-0830',
 'MB-0848',
 'MB-0854',
 'MB-0876',
 'MB-0885',
 'MB-0907',
 'MB-0929',
 'MB-0932',
 'MB-0938',
 'MB-0952',
 'MB-0958',
 'MB-0959',
 'MB-0961',
 'MB-0962',
 'MB-0964',
 'MB-0971',
 'MB-0973',
 'MB-0977',
 'MB-0988',
 'MB-0998',
 'MB-1003',
 'MB-1005',
 'MB-1007',
 'MB-1009',
 'MB-1014',
 'MB-1018',
 'MB-1021',
 'MB-1022',
 'MB-1023',
 'MB-1025',
 'MB-1028',
 'MB-1031',
 'MB-1032',
 'MB-1033',
 'MB-1034',
 'MB-1037',
 'MB-1039',
 'MB-1040',
 'MB-1044',
 'MB-1049',
 'MB-1050',
 'MB-1055',
 'MB-1057',
 'MB-1059',
 'MB-1063',
 'MB-1065',
 'MB-1068',
 'MB-1071',
 'MB-1072',
 'MB-1074',
 'MB-1075',
 'MB-1076',
 'MB-1077',
 'MB-1080',
 'MB-1081',
 'MB-1082',
 'MB-1085',
 'MB-1086',
 'MB-1090',
 'MB-1093',
 'MB-1096',
 'MB-1099',
 'MB-1100',
 'MB-1102',
 'MB-1103',
 'MB-1104',
 'MB-1105',
 'MB-1109',
 'MB-1111',
 'MB-1112',
 'MB-1113',
 'MB-1115',
 'MB-1119',
 'MB-1120',
 'MB-1121',
 'MB-1122',
 'MB-1123',
 'MB-1124',
 'MB-1126',
 'MB-1128',
 'MB-1129',
 'MB-1130',
 'MB-1131',
 'MB-1132',
 'MB-1133',
 'MB-1134',
 'MB-1135',
 'MB-1136',
 'MB-1137',
 'MB-1143',
 'MB-1145',
 'MB-1146',
 'MB-1149',
 'MB-1157',
 'MB-2720',
 'MB-3547',
 'MB-3823',
 'MB-4823',
 'MB-4852',
 'MB-5076',
 'MB-5104',
 'MB-5106',
 'MB-5109',
 'MB-5131',
 'MB-5136',
 'MB-5137',
 'MB-5140',
 'MB-5156',
 'MB-5158',
 'MB-5219',
 'MB-5255',
 'MB-5325',
 'MB-5349',
 'MB-5413',
 'MB-5467',
 'MB-5496',
 'MB-5585',
 'MB-5625',
 'MB-5648',
 'MB-6020',
 'MB-6230',
 'MCF7-a',
 'MCF7-b',
 'MDAMB134',
 'MDAMB157-a',
 'MDAMB157-b',
 'MDAMB231',
 'MDAMB436',
 'MDAMB453',
 'MDAMB468-a',
 'MFM223',
 'OCUBF',
 'PMC42-a',
 'PMC42-b',
 'SKBR3-a',
 'SKBR3-b',
 'SKBR7',
 'SUM190',
 'T47D',
 'ZR751',
 'ZR7530'}

In [73]:
len(set(meta_index.tolist()).difference(meta_expt.columns.tolist()))

223

In [132]:
sa = set(meta_index.tolist())
sb = set(meta_expt.columns.tolist())
c = sa.intersection(sb)

In [133]:
len(c)

1223

In [135]:

tops = ['Hugo_Symbol']
tops.extend( list(c))
expre_reorganized = meta_expt[tops]
expre_reorganized.shape

(24368, 1224)

In [136]:
tops = ['miRNA']
tops.extend( list(c))
mirna_reorganized = meta_mirna[tops]
mirna_reorganized.shape

(853, 1224)

In [137]:
surv_reorganized = surv.ix[c]

In [138]:
surv_reorganized.shape

(1223, 21)

In [139]:
mirna_reorganized.shape

(853, 1224)

In [140]:
expre_reorganized.shape

(24368, 1224)

In [141]:
df = expre_reorganized.dropna()
df.to_csv('METABRIC_Gene_Expression.txt',index=False,sep='\t')

In [157]:
df.shape

(24364, 1224)

In [142]:
mirna_reorganized.to_csv('METABRIC_Mirna_Expression.txt',index=False,sep='\t')

In [143]:
surv_reorganized.head()

,OS_MONTHS,OS_STATUS,VITAL_STATUS,INTCLUST,COHORT,AGE_AT_DIAGNOSIS,LATERALITY,NPI,ER_IHC,INFERRED_MENOPAUSAL_STATE,...,CELLULARITY,HER2_SNP6,THREEGENE,CLAUDIN_SUBTYPE,CHEMOTHERAPY,HORMONE_THERAPY,RADIO_THERAPY,HISTOLOGICAL_SUBTYPE,death,Survival
PATIENT_ID,,,,,,,,,,,,,,,,,,,,,
MB-4867,221.900000,LIVING,Living,3,3.0,47.03,l,3.050,pos,pre,...,moderate,NEUT,ER+/HER2- Low Prolif,LumA,NO,NO,NO,IDC,0.0,6657
MB-0188,31.300000,DECEASED,Died of Disease,3,1.0,82.65,r,4.090,pos,post,...,high,NEUT,NaN,Her2,YES,NO,YES,ILC,1.0,939
MB-5065,184.800000,LIVING,Living,4ER-,3.0,68.66,r,4.032,neg,post,...,moderate,NEUT,ER-/HER2-,claudin-low,NO,NO,NO,IDC,0.0,5544
MB-4934,70.233333,LIVING,Living,7,3.0,74.85,r,5.056,pos,post,...,high,NEUT,ER+/HER2- High Prolif,LumB,NO,YES,YES,IDC,0.0,2106
MB-5617,128.200000,DECEASED,Died of Other Causes,4ER+,3.0,81.63,r,4.064,pos,post,...,high,NEUT,ER+/HER2- Low Prolif,LumA,NO,YES,YES,IDC,1.0,3845

In [144]:
surv_reorganized['death'] = surv_reorganized['death'].astype(int)

In [145]:
surv_reorganized.to_csv('METABRIC_Survival.txt',sep='\t', columns=['PATIENT_ID','Survival','death' ])

/home/ccorbi/anaconda3/lib/python3.5/site-packages/pandas/io/formats/format.py:1578: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  self.obj = self.obj.loc[:, cols]
/home/ccorbi/anaconda3/lib/python3.5/site-packages/pandas/core/indexing.py:1367: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [159]:
#[:, 1:-1].T.astype(float)
expre_reorganized.as_matrix()[:, 1:].T.astype(float).shape

(1223, 24368)

In [147]:
mirna_reorganized.shape

(853, 1224)

In [158]:
mirna_reorganized.as_matrix()[:, 1:].shape

(853, 1223)

In [149]:
len(c)

1223

In [150]:
surv_reorganized.shape

(1223, 21)

In [151]:
expre_reorganized.shape

(24368, 1224)

In [152]:
type(expre_reorganized.dtypes)

pandas.core.series.Series

In [153]:
a = expre_reorganized.dtypes

In [154]:
a[a != 'float64']

Hugo_Symbol    object
dtype: object

In [155]:
expre_reorganized.shape

(24368, 1224)

In [156]:
expre_reorganized.dropna().shape

(24364, 1224)